@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-rich-black text-white;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
  }
}

/* Leaflet Popup Stilleri */
.leaflet-popup-content-wrapper {
  background-color: #1a1a1a !important;
  color: #fff !important;
  border-radius: 0.5rem !important;
}

.leaflet-popup-tip {
  background-color: #1a1a1a !important;
}

.leaflet-popup-close-button {
  color: #fff !important;
}

.leaflet-popup-close-button:hover {
  color: #FFC107 !important;
}
